@model FileCanBlog.ViewModels.PageListViewModel

<ul>
    @if (Model != null && Model.Pages.Count() != 0)
    {
        foreach (var item in Model.Pages)
        {
            <li>
                <a href="@Url.Action("Edit", "Page", new { title = item.TitleUrlFriendly })">

                    <div>
                        <h2>@Html.DisplayFor(m => item.Title)</h2>
                        <p>@Html.DisplayFor(m => item.Description)</p>
                        
                    </div>
                </a>
            </li>
        }
    }
    else
    {
        <li>No pages</li>
    }
</ul>