<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gareth.Duncan.Wales</title>
</head>
<body>

    @if (ViewBag.Error != null)
    {
        <div id="Errors">@ViewBag.Error</div>
    }
    
    @RenderBody()
</body>
</html>
