@model FileCanBlog.ViewModels.SectionViewModel


<div>
    @Html.LabelFor(x=> x.section.Title) @Html.DisplayFor(x=> x.section.Title)
    <br />
    @Html.LabelFor(x=> x.section.Description) @Html.DisplayFor(x=> x.section.Description)

</div>



