@model IEnumerable<FileCanBlog.ViewModels.SectionViewModel>

<ul>
    @if (Model != null && Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <li>
                <div><a href="@Url.Action("List", "Page", new { section = item.section.TitleUrlFriendly })">@Html.DisplayFor(m => item.section.Title)</a></div>
                <div>@Html.LabelFor(m => item.section.Description) @Html.DisplayFor(m => item.section.Description)</div>
            </li>
        }
    }
    else
    {
        <li>No sections</li>
    }
</ul>